#login-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}
.content-login{
    background-color: var(--color-box-base);
    width: 80%;
    max-width: 60rem;
    /* height: 50%; */
    min-height:30rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border-radius: 2rem;

    box-shadow: 0.3rem 0.3rem 1rem 0.2rem rgba(0, 0, 0, 0.233);

    margin: auto;
}

.content-login h1{
    margin: 4rem auto 2rem;
    font-weight: 900;
    font-size: 5rem;

    color: var(--color-primary);
}

.content-login fieldset{
    width: 60%;
    margin: 0rem auto 4rem;

    display: flex;
    flex-direction: column;

    border: none;

}

.content-login fieldset label{
    font-size: 1.8rem;
    margin:0 0 1rem 0;
}

.content-login fieldset input{
    width: 100%;
    margin:0 auto;
    padding: 1.3rem 0.3rem 0.8rem 1rem;

    background-color: #08418b1a;
    border: none;
    border-radius: 0.3rem;
}

.content-login .sigin-button{
    width: 60%;
    padding: 1rem;

    margin: 0 auto 4rem ;
    border-radius: 1rem;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-box-base);

    font-size: 2rem;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}
.content-login .sigin-button:hover{
    background-color: var(--color-secundary);

}
#login-container form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
@media(max-width:630px){
    .content-login{
        width: 90%;        
    }
    .content-login fieldset{
        width: 90%;
    }
}